<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitkoindo.smartcollection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HistoriTindakanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.dashboard.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.berita.BeritaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.berita.BroadcastBeritaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.assignment.AccountAssignmentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.ptp_reminder.PTPReminderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.berita.DetailBeritaGlobalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.berita.DetailBeritaGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.chat.ChatListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.chat.ChatWindowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.laporan.LaporanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.dashboard.StaffDashboardSelectorActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.dashboard.StaffDashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.pusatnotifikasi.PusatNotifikasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.laporan.ArchiveActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity 
			android:name=".module.laporan.LaporanVisitActivity"
            android:theme="@style/AppTheme.NoActionBar" />
			<activity android:name=".module.misc.ImageViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".module.misc.ChangeBaseURLActivity" />
        <activity
            android:name=".module.debitur.listdebitur.ListDebiturActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.debitur.detaildebitur.DetailDebiturActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.debitur.detaildebitur.ViewTeleponActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.formvisit.FormVisitActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.formvisit.FormVisitKonfirmasiActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.formcall.FormCallActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.debitur.tambahalamatdebitur.TambahAlamatDebiturActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.debitur.tambahtelepon.TambahTeleponActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.debitur.tambahalamat.TambahAlamatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.laporan.reportdistribusi.ReportDistribusiDebiturActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.laporan.staffproductivity.StaffProductivityPortraitActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.laporan.staffproductivity.StaffProductivityDebiturActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.laporan.agenttracking.AgentTrackingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.debitur.detaildebitur.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".backgroundservice.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".backgroundservice.MyJobServiceTracking"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service android:name=".backgroundservice.ChatUpdaterService" />

        <receiver android:name=".utilities.NotificationChecker" />
	</application>

</manifest>